.neg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #27ae60;
  min-height: 100vh;
}

.neg-row {
  width: 95%;
  min-width: 360px;
  max-width: 1300px;
  height: 92vh;
  min-height: 300px;
  max-height: 720px;
  background: #e6eaea;
}

.neg-member-col {
  padding-left: 1px;
}
